<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Eastmedia</string>
	<key>uuid</key>
	<string>9D5C611F-CDB5-41AD-BA57-10A67A3B0CEE</string>
</dict>
</plist>
